<!doctype html>


<html>
<head>

<title>photos</title>

<link rel="stylesheet" type="text/css" href="static/style2.css">
</head>


<body>
<header>
			<div class="logo">
			AK
			</div>
				<nav>
					<ul>
						<li><a href="/home" >About_Me</a></li>
						
						<li><a href="/proj">My_Projects</a></li>
						<li><a href="/pics " class="active">My_Pics</a></li>
					</ul>
					
				
				</nav>
				
				
				
				
				
				
				
		
				
				
		
		
		</header>
				<div class="my-pic">
				
					<p>My Pictures</p>
				</div>




<div class="container">

<a href="static/img1.jpg"><img src="static/img1.jpg"></a>
<a href="static/img2.jpg"><img src="static/img2.jpg"></a>
<a href="static/img3.jpg"><img src="static/img3.jpg"></a>
<a href="static/img4.jpg"><img src="static/img4.jpg"></a>


</div>
					<div class="middle">
						<h4>Inspired from <a href="#">Online-Tutorial</a></h4>
					    <p>Copyright &copy; 2019 Akash Kamble</p>
			        </div>
			


</body>

</html>