<!doctype html>
<html>


<head>

<title>Projects</title>

<link rel="stylesheet" type="text/css" href="static/design.css">

</head>

<body>

<header>
			<div class="logo">
			AK
			</div>
				<nav>
					<ul>
						<li><a href="/home" >About_Me</a></li>
						
						<li><a href="/proj" class="active">My_Projects</a></li>
						<li><a href="/pics">My_Pics</a></li>
					</ul>
					
				
				</nav>
				
				
				
				
				
				
				
		
				
				
		
		
		</header>
<div class="container">


	


	<div class="box">
		<div class="content">
		
			<h2>01</h2>
			<h3>HangMan Game</h3>
			<p>
			
			This was mine first Assignment in Python language.I had no idea about what is logic behind the game but soon i knew i got attracted to it , and as due to python is very easy language to understand and to implement i started it . It took me 3-4 days to complete the game. Ofcource it is not like the games which we play nowadys but it was quiet fun to implement it.
			
			<a href="#" type="submit" onclick="window.open('static/HangMan.pdf')">Source_Code</a>
			
			
			</p>
			
		</div>
	</div>
	
	<div class="box">
		<div class="content">
		
			<h2>02</h2>
			<h3>Project Two</h3>
			<p>
			
			Comming Soon....
			<a href="#">Read More</a>
			
			</p>
			
		</div>
	</div>
	
	<div class="box">
		<div class="content">
		
			<h2>03</h2>
			<h3>Project Three</h3>
			<p>
			
			Comming Soon....
			
			<a href="#">Read More</a>
			</p>
			
		</div>
	</div>
	
	<div class="box">
		<div class="content">
		
			<h2>04</h2>
			<h3>Project Four</h3>
			<p>
			
			Comming Soon....
			<a href="#">Read More</a>
			
			</p>
			
		</div>
	</div>
	
</div><!--final container div ends here-->

<div class="middle">
				
						<h4>Inspired from <a href="#">Online-Tutorial</a></h4>
						
						<p>Copyright &copy; 2019 Akash Kamble</p>
						
					
				
				
			</div>
</body>

</html>