
body{
	
	
	
	margin:0;
	padding:0;
	font-family:sans-serif,helvetica;
	background-color:#A3A3A3;
	
	
}
header{
	position:absolute;
	top:0;
	left:0;
	padding:0,100px;
	background:#000;
	width:100%;
	box-sizing:border-box;
		
	
	
}

header .logo{
	
	color:#fff;
	height:50px;
	line-height:50px;
	font-size:24px;
	float:left;
	font-weight:bold;
	padding:0 20px;
	box-sizing:border-box;
	
	
	
}

header nav{
	
	float:right;
	box-sizing:border-box;
	padding-right:0;
	margin-right:0;
	z-index:0;
	margin-left:0;
	
}

header nav ul{
	
	margin:0;
	padding:0;
	display:flex;
	box-sizing:border-box;
	
	
	
}
header nav ul li{
	
	list-style:none;
	box-sizing:border-box;
	
	
	
}

header nav ul li a{
	
	text-decoration:none;
	height:50px;
	line-height:50px;
	padding:0 20px;
	color:#fff;
	display:block;
	box-sizing:border-box;
	
	padding-right:10px;
	
	
}

header nav ul li a:hover,
header nav ul li a.active
{
	
	
	color:#fff;
	background:#2196f3;
	box-sizing:border-box;
	
	
}

.middle{
	
	
	position:absolute;
	top:90%;
	transform:translateY(-50);
	width:100%;
	
	right:0;
	
	
	background-color:#000;
	
	top:80px;
	box-sizing:border-box;
	
}	
.middle p{
	
	
	color:#fff;
	font-size:18px;	
	text-align:right;
	
	box-sizing:border-box;
	padding:0;
}

.container{
	

width:1000px;
display:flex;
justify-content:space-between;
text-align: center;
margin-left:180px;
margin-right:160px;	
margin-top:100px;
margin-bottom:-500px;
}

.my-pic {
	
	margin-top:100px;
	padding:0;
	box-sizing:border-box;
	
	
}

.my-pic p{
	
	
	
	color:#333;
	font-family:'Poppins', sans-serif;
	font-size:3em;
	text-align:center;
}

.container img{
	
	border:5px solid #fff;
	padding: 0;
	height: 300px;
	width: 200px;
	transform-origin:center;
	transform:perspectiv(800px) rotateY(20deg);
	transition:0.5s;
	-webkit-box-reflect:below 1px linear-gradient(transparent, transparent, #0004);	
}

.container:hover img{
	
	opacity:0.1;
	
	
	
	
}

.container img:hover{
	
	transform:perspectiv(800px) rotateY(0deg);
	opacity:1;
	
}

.middle{
	
	
	position:absolute;
	top:100%;
	transform:translateY(-50);
	width:100%;
	
	right:0;
	
	margin-top:150px;
	margin-bottom:0;
	
	background-color:#000;
	
	box-sizing:border-box;
	
}	
.middle p{
	
	
	top:100%;
	color:#fff;
	font-size:10;	
	text-align:right;
	padding:5px,10px;
	
	margin-top:20px;
	margin-right:10px;
	box-sizing:border-box;
	
}

.middle h4{
	
	position:absolute;
	color:#fff;
	font-size:10;	
	text-align:left;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	
	box-sizing:border-box;
	padding:0;
	
	
	
}
.middle h4 a{
	
	text-decoration:none;
	color:#A3A3A3;
	
}

.middle h4 a:hover{
	
	
	color:#333;
	
}


